input.ng-valid.ng-touched{
    border: 2px solid green
}
input.ng-invalid.ng-touched{
    border: 1px solid red

}
.modal-header{
    background-color: #660066;
    color: white;
}
.close{
    color: white;
}